{% extends 'includes/bootstrap4.html' %}
{% load bootstrap4 %}
{% block bootstrap4_content %}
{% load widget_tweaks %}
    <div class="p-x-1 p-y-3">

        {% if request.session.user_id %}
            <form action="" method="post" class="card card-block m-x-auto bg-faded form-width">
                {% csrf_token %}
                {% if Subscriber.picture %}
                    <img class="custom-img" src="{{ MEDIA_URL }}{{ Subscriber.picture.url }}" alt="">
                {% else %}
                    <img class="custom-img" src="holder.js/70x70?auto=yes&theme=gray&bg=00AEEF&text=None">
                {% endif %}
                <br>Your login - {{ Subscriber.login }}
                <br>Your email - {{ Subscriber.email }}
                <div class="text-xs-center">
                    <input class="btn btn-block btn-primary" type="submit" value="Logout" name="logout">
                </div>
            </form>
        {% else %}
            <form action="" method="post" class="card card-block m-x-auto bg-faded form-width">
                You not login! <a href="/">Home page</a><br>
            </form>
        {% endif %}
    </div>
{% endblock %}