asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==2.1.1
buildozer==0.33
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.1.3
cssselect==1.0.1
Django==1.11.6
django-bootstrap3==9.0.0
django-bootstrap4==0.0.3
django-crispy-forms==1.7.0
django-readonly-field==1.0.2
django-unixdatetimefield==0.1.6
django-widget-tweaks==1.4.1
dnspython==1.15.0
docutils==0.14
email-validator==1.0.3
gcloud==0.17.0
googleapis-common-protos==1.5.3
html5lib==1.0b10
httplib2==0.10.3
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jws==0.1.3
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
lxml==4.1.1
Markdown==2.6.9
markdown2==2.3.4
numpy==1.22.0
oauth2client==3.0.0
olefile==0.44
parsel==1.2.0
pexpect==4.3.0
Pillow==4.3.0
protobuf==3.4.0
ptyprocess==0.5.2
py==1.4.34
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
pycryptodome==3.4.3
PyDispatcher==2.0.5
Pygments==2.2.0
pyOpenSSL==17.3.0
pypiwin32==220
Pyrebase==3.0.27
pytest==3.2.3
python-jwt==2.0.1
pytz==2017.2
queuelib==1.4.2
requests==2.11.1
requests-toolbelt==0.7.0
rsa==3.4.2
service-identity==17.0.0
six==1.11.0
urllib3==1.22
validate-email==1.3
validate-email-wt==1.4.5
virtualenv==15.1.0
w3lib==1.18.0
webencodings==0.5.1
zope.interface==4.4.3
