{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if field.field.widget.input_type != 'checkbox' %}
    <div class="form-group has-float-label">
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}

        {{ field.label_tag  }}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% else %}
        <div class="form-group">
        <label class="custom-control custom-checkbox">
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="custom-control-input is-invalid" %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
                {% else %}
                    {% render_field field class="custom-control-input is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="custom-control-input" %}
        {% endif %}

        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ field.label|safe  }}</span>

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        </label>
        </div>
    {% endif %}
{% endfor %}